.title{margin: 20px 15px 7px;color: #6d6d72;font-size: 15px;}
.mui-bar .mui-btn.mui-pull-right{color: #fff;}
.mui-bar-nav.mui-bar .mui-icon{ color: #fff;}
.mui-bar-nav{background: #000; box-shadow: none;}
.mui-bar-nav .mui-title{color: #fff;line-height: 47px;}

.mui-table-view .mui-media-object{max-width: 95px;height: 110px;line-height: 95px;}
.mui-table-view{margin-bottom: 15px;}
.mui-media-body input[type=text]{height: 110px; margin-bottom: 0;}
.mui-table-view-cell.mui-active{background: none;}
